/* app */
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

#head {
    height:         3rem;
    margin:         0;
    /* z-index:        0; */
}

#logo, .header-left p {
    margin: 0;
    padding: 0;
}

.header-left p {
    position: absolute;
    left: 100px;
    top: 30px;
}

#logo span {
    color: #B30B1F;
}

#header {
    background-color:  rgb(48, 48, 48);
    position:       fixed;
    width:          100%;
    padding:        0;
    margin:         0;
    /* z-index:        9999; */
}

.header-left {
    width: auto;
    height: 3rem;
    text-align: left;
    display: inline-block;
    padding: 10px 65px 0 40px;
}

.header-left h2, .header-left p {
    color: #0ac76f;
    font-family: 'Philosopher', sans-serif;

}

/* desktop*/

#desktop-menu {
    width: 50%;
    height: 3.5em;
    margin: 0;
    position:  absolute;
    top:      0;
    right:  30%; 
}

#desktop-menu ul li {
    display: inline;
    list-style: none;
    padding-right: 3rem;
    margin: 0;
}

.dropdown-menu {
    padding: 1.3em 0;
    /* margin: 0.5em 0; */
    text-align: right;
}

.dropdown-menu a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: #e9e5e5;
    font-size: 0.755rem;
}

.dropdown-menu a:hover {
    color: rgb(172, 96, 96);
}

@media (max-width: 750px) {
    #desktop-menu{
        display: none;
    }
}

/* menu */

/* *, *:before, *:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-spacing: border-box;
  } */
  @media (min-width: 750px){
    .memu-container {
      display: none;
  
  }
    }
    
    @media (max-width: 750px) {
    .memu-container {
      width: 200px;
      margin: 10px auto;
      position:       absolute;
      top:            0;
      right:  0; 
    }
    .memu-container > ul {
      width: 90px;
      list-style: none;
      padding: 0;
      margin: auto;
    }
    
    .dropdown {
      position: relative;
    }
    .dropdown a {
      text-decoration: none;
    }
    .dropdown [data-toggle="dropdown"] {
      display: block;
      color: white;
      background: rgb(255, 48, 25);
      /* -moz-box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
      -webkit-box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset; */
      /* box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset; */
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      padding: 10px;
    }
    .dropdown:hover {
      background: #f0ebed;
    }
    .dropdown [data-toggle="dropdown"]:before {
      position: absolute;
      display: block;
      content: '\25BC';
      font-size: 0.7em;
      color: #fff;
      top: 13px;
      right: 10px;
      /* -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); */
      transform: rotate(0deg);
      /* -moz-transition: -moz-transform 0.6s;
      -o-transition: -o-transform 0.6s;
      -webkit-transition: -webkit-transform 0.6s; */
      transition: transform 0.6s;
    }
    .dropdown > .dropdown-menu {
      max-height: 0;
      overflow: hidden;
      list-style: none;
      padding: 0;
      margin: 0;
      /* -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0); */
      transform: scaleY(0);
      /* -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      -webkit-transform-origin: 50% 0%; */
      transform-origin: 50% 0%;
      /* -moz-transition: max-height 0.6s ease-out;
      -o-transition: max-height 0.6s ease-out;
      -webkit-transition: max-height 0.6s ease-out; */
      transition: max-height 0.6s ease-out;
      animation: hideAnimation 0.4s ease-out;
      /* -moz-animation: hideAnimation 0.4s ease-out;
      -webkit-animation: hideAnimation 0.4s ease-out; */
    }
    .dropdown > .dropdown-menu li {
      padding: 0;
    }
    .dropdown > .dropdown-menu li a {
      display: block;
      color: #6f6f6f;
      background: #EEE;
      /* -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
      -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset; */
      box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
      text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
      padding: 10px 10px;
    }
    .dropdown > .dropdown-menu li a:hover {
      background: #aeefb9;
    }
    .dropdown > input[type="checkbox"] {
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
      max-height: 9999px;
      display: block;
      /* -moz-transform: scaleY(1); */
      /* -ms-transform: scaleY(1); */
      /* -webkit-transform: scaleY(1); */
      transform: scaleY(1);
      animation: showAnimation 0.5s ease-in-out;
      /* -webkit-animation: showAnimation 0.5s ease-in-out;
      -moz-animation: showAnimation 0.5s ease-in-out;
      -moz-transition: max-height 2s ease-in-out;
      -o-transition: max-height 2s ease-in-out;
      -webkit-transition: max-height 2s ease-in-out; */
      transition: max-height 2s ease-in-out;
    }
    .dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
      /* -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg); */
      transform: rotate(-180deg);
      /* -moz-transition: -moz-transform 0.6s;
      -o-transition: -o-transform 0.6s;
      -webkit-transition: -webkit-transform 0.6s; */
      transition: transform 0.6s;
    }
    
    @keyframes showAnimation {
      0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
      }
      40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
      }
      60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
      }
      100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
      }
      100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
    @-moz-keyframes showAnimation {
      0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
      }
      40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
      }
      60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
      }
      100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
      }
      100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
    @-webkit-keyframes showAnimation {
      0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
      }
      40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
      }
      60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
      }
      100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
      }
      100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
    @keyframes hideAnimation {
      0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
      60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
      }
      100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
      }
    }
    @-moz-keyframes hideAnimation {
      0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
      60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
      }
      100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
      }
    }
    @-webkit-keyframes hideAnimation {
      0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
      60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
      }
      80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
      }
      100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
      }
    }
    
  }









